
@font-face{
    font-family: 'Muller';
    src: local('MullerNarrow-Trial-Black'),
      url(MullerNarrow-Trial-Black) format(woff),
      url(MullerNarrow-Trial-Black) format(woff2);
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Muller';
    src: local('MullerNarrow-Trial-Medium'),
      url(MullerNarrow-Trial-Medium) format(woff),
      url(MullerNarrow-Trial-Medium) format(woff2);
    font-display: swap;
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: 'Muller';
    src: local('MullerNarrow-Trial-RegularItalic'),
      url(MullerNarrow-Trial-RegularItalic) format(woff),
      url(MullerNarrow-Trial-RegularItalic) format(woff2);
    font-display: swap;
    font-weight: 800;
    font-style: italic;
}

:root{
    --color--black:#121723;
    --color--light--black:#292E39;
    --text--grey: #A1A6B4;
    --shady--gray:#DFE1E5;
    --promo--color--shade:#BB973E;
    --promo--color:#F0D288;
    --color--blue:#0039A6;
    --color--red:#D52B1E;
    --primary--shade:#4F28A5;
    --color--primary:#6D31EE;
    --primary--light:#AA9DFA;
    --gray--light:#F5F6F7;
    --color--white:#FFFFFF;
}


body{
    max-width: 1110px;
    display: block;
    justify-self: anchor-center;
    margin-top: 34px;
    margin-bottom: 141px;
}


li{
    list-style: none;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
    padding-inline-start: 0;
}

button{
    border: none;
}



/*header*/

.main-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 34px;
}

.item-list{
    display: flex;
    gap: 58.75px;
    margin-right: 128px;

}

.list-item{
    a{
        color: var(--color--black);
        transition: 0.2s;
    }
a:active{
  color: var(--primary--shade);
}
a:focus-visible{
    background-color: var(--primary--light);
    color: var(--color--white);
}
a:hover{
    color: var(--color--primary);
}
}


.poisk{
    margin-top: 15px;
    cursor: pointer;
}

/*ripasitions*/

.ripasitions{
    display: flex;
}
.rip-div{
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.rip-h1{
    font-size: -webkit-xxx-large;
    margin-bottom: 14px;
}

.rip-p{
    color: var(--color--black );
    max-width: 558px;
    margin-top: 0px;
    margin-bottom: 45px;

}

.rip-button{
    width: 206px;
   padding: 20px 37px;
   border-radius: 40px;
   cursor: pointer;
   background-color: var(--color--primary);
   color: var(--color--white);
   transition: 0.2s;
}

.rip-button:hover{
    background-color: var(--primary--light);
}

.rip-button:focus-visible{
    background-color: var(--primary--light);
    border-color: var(--primary--shade);
}

.rip-button:active{
    background-color:  var(--primary--shade);
}


.rip-img{
    margin-left: 220px;
    width: 340px;
    height: 340px;
}

/*podcasts*/


.podcasts{
    background-color: var(--gray--light);
    
}

.pod-h2{
    font-family: 'Muller';
    font-size: xx-large;
    font-weight: 600;
    color: var(--color--black);
}


.pod-item-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}


.pod-list-item{
    background-color: var(--color--white);
    width: 540px;
    height: 140px;
}

.pod-art{
    display: flex;
}


.pod-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
}

.pod-span{
    padding-bottom: 8px;
}

.pod-h3{
   margin: 0px;
}

.pod-p{
   margin: 0px;
   color: var(--text--grey);
}



/*transfers*/

#transfers{
    display: flex;
    flex-direction: column;
    height: 752px;
}

.trans-h2{
    font-family: 'Muller';
    font-size: xx-large;
    font-weight: 600;
    color: var(--color--black);
}


.tra-div{
  display: flex;
  flex-direction: column;
   
    
}

.microphone{
    width: 65px;
    height: 89px;
}

.tra-button{
    max-width: 160px;
}

.tra-div-2{
    display: flex;
    flex-direction: row-reverse;
}


.tra-cart{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.tra-cart:nth-child(1){
    background-image: url(/images/people\ book.svg);
    background-repeat: no-repeat;
}

.tra-cart:nth-child(2){
    background-image: url(/images/td.svg);
    background-repeat: no-repeat;
}

.tra-cart:nth-child(3){
    background-image: url(/images/rim.svg);
    background-repeat: no-repeat;
}

.tra-cart:nth-child(4){
    background-image: url(/images/erudit.png);
    background-repeat: no-repeat;
}

.tra-cart:nth-child(5){
    background-image: url(/images/dar.svg);
    background-repeat: no-repeat;
}

.tra-cart:nth-child(6){
    background-image: url(/images/minde.svg);
    background-repeat: no-repeat;
}














